endpoint: "http://heartbeat-monitoring.com"
apikey: "<YOUR KEY>"
name: "<SERVER NAME ALIAS>"
apache_status: "http://127.0.0.1/server-status/?auto"
mongostat_arguments: "-h 127.0.0.1 -n 1"
docker_command: "docker ps"
#mongostat_arguments: "-h 127.0.0.1 -n 1 -u YOUR_USER -p PASS"
#keen_project_token: ""
#keen_api_key: ""
#keen_collection: ""
